<div class="her-unit">

<h1>usuń galerię</h1>

<%= form_for(:galeria, :url => {:action => 'kasuj', :id => @galeria.id}) do |pole| %>

<p>Czy na pewno chcesz usunąć galerię ? <%= @galeria.nazwa %> </p>

<div style="text-align: center;">
	<%= link_to("powrót", {:action => 'index'}, :class => 'btn btn-primary')%>
	<%= submit_tag("usuń", :class => 'btn btn-destroy') %>


</div>
<% end %>

</div>
