<h1>Usunięcie kategori</h1>

<%= link_to("powrót", {:action => 'index'})%>

<%= form_for(:kategoria, :url => {:action => 'kasuj', 
	:id => @kategoria.id}) do |pole|%>

	<p>Czy na pewno chcesz usunąc kategorię: </p>
	<p><%= @kategoria.nazwa %></p>

<div>
	<%= submit_tag("Usuń")%>
</div>

<% end %>